{% macro render_field(field) %}
    <div class="form-group">
        <label class="col-md-4 control-label">{{ field.label }}</label>
        <div class="col-md-4">
             {{ field(**kwargs)|safe }}
                {% if field.errors %}
                    <ul class="error">
                        {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </div>

{% endmacro %}