<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}My GSS{% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/table.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">My GSS</a>
              </div>

              <div class="collapse navbar-collapse" id="topNavBar">
                  <ul class="nav navbar-nav">
                      <li class="active">
                          <a href="">Profile</a>
                      </li>
                      <li class="">
                          <a href="#">Leaves</a>
                      </li>
                  </ul>

                  <form class="navbar-form navbar-left" role="search" method="get" action="#">
                      <div class="form-group">
                          <input type="text" class="form-control" name="q" value="">
                      </div>

                      <button type="submit" class="button button-default">Search</button>
                  </form>

                  <ul class="nav navbar-nav navbar-right">
                      <li class="">
                          <a href="/dashboard">
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp Dashboard
                          </a>
                      </li>
                      <li class="">
                          <a href="">
                              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp Logout
                          </a>
                      </li>
                  </ul>
              </div>
        </div>
    </nav>

    <div class="container">
        {% include 'includes/_messages.html' %}
    {% block body %}

    {% endblock %}
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>