{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="quick-actions_homepage">
          <ul class="quick-actions">
            <li class="bg_lb">
                <a href="dashboard/projects">
                    <i class="icon-dashboard"></i>
                    <span class="label label-important">{{ project_count|length }}</span> Projects
                </a>
            </li>
            <li class="bg_lg span3">
                <a href="dashboard/add_member">
                    <i class="icon-signal"></i>
                    <span class="label label-important">{{ employee_count|length }}</span> Members
                </a>
            </li>
            <li class="bg_ly">
                <a href="dashboard/designations">
                    <i class="icon-inbox"></i>
                    <span class="label label-success">{{ designation_count|length }}</span> Designations
                </a>
            </li>
            <li class="bg_lo">
                <a href="dashboard/departments">
                    <i class="icon-th"></i>
                    <span class="label label-success">{{ department_count|length }}</span> Departments
                </a>
            </li>
            <li class="bg_lo span3"> <a href=""> <i class="icon-th-list"></i> Forms</a> </li>
            <li class="bg_ls"> <a href=""> <i class="icon-tint"></i> Buttons</a> </li>
            <li class="bg_lg"> <a href=""> <i class="icon-calendar"></i> Calendar</a> </li>
            <li class="bg_lr"> <a href=""> <i class="icon-info-sign"></i> Error</a> </li>
          </ul>
        </div>
    </div>
{% endblock %}