{% extends 'base.html' %}

{% block body %}
    <div class="container">
        {% from 'includes/_formhelper.html' import render_field %}

        <div class="row">
            <form class="form-horizontal" method="post">
                <fieldset>
                    <legend>Add Member</legend>

                    <div class="form-group">

                        {{ render_field(form.name, class="form-control") }}
                        {{ render_field(form.email, class="form-control") }}
                        {{ render_field(form.date_of_birth, class="form-control") }}
                        {{ render_field(form.company_number, class="form-control") }}
                        {{ render_field(form.employee_number, class="form-control") }}
                        {{ render_field(form.nic, class="form-control") }}
                        {{ render_field(form.contact_number, class="form-control") }}
                        {{ render_field(form.emergency_contact_number, class="form-control") }}
                        {{ render_field(form.address, class="form-control") }}
                        {{ render_field(form.date_of_hire, class="form-control") }}
                        {{ render_field(form.date_of_join, class="form-control") }}

                    <div class="form-group">
                        <label class="col-md-4 control-label">Project</label>
                        <div class="col-md-4">
                            <select name="project" class="col-md-4 form-control" >
                                {% for project in project_count %}
                                    <option value="{{ project[0] }}">{{ project[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Department</label>
                        <div class="col-md-4">
                            <select name="project" class="col-md-4 form-control" >
                                {% for department in department_count %}
                                    <option value="{{ department[0] }}">{{ department[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Designation</label>
                        <div class="col-md-4">
                            <select name="project" class="col-md-4 form-control">
                                {% for designation in designation_count %}
                                    <option value="{{ designation[0] }}">{{ designation[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}