{% extends 'base.html' %}

{% block body %}
    <div class="container">
        {% from 'includes/_formhelper.html' import render_field %}

        <div class="row">
            <form class="form-horizontal" method="post">
                <fieldset>
                    <legend>Add Project</legend>

                    <div class="form-group">
                        {{ render_field(form.project_name, class="form-control") }}
                        <label class="col-md-4 control-label" for="submit"></label>

                            <button id="submit" name="submit" class="btn btn-default">Submit</button>

                    </div>

                </fieldset>
            </form>
        </div>

        <hr>

        <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Project" disabled></th>
                        <th><input type="text" class="form-control" placeholder="" disabled></th>
                    </tr>
                </thead>
                <tbody>
                {% for project in project_set %}
                    <tr>
                        <td>{{ project[0] }}</td>
                        <td>{{ project[1] }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}